/* global */
section {
    padding: 40px 0 100px;
}

.header {
    font-size: 3em;
    color: #0FB9B1;
    text-transform: uppercase;
    padding: 10px 0 30px;
}

.grey {
    color: #1D1D1D;
}

.green {
    color: #0FB9B1;
}

/* header  */

.logo {
    width: 7em;
    margin-bottom: 30px;
}

@media (max-width: 768px) {
    .logo {
        width: 5em;
    }
}

/* portfolio */
.portfolio-item {
    transition: all .2s ease-in-out;
}
.portfolio-item:hover { 
    transform: scale(1.02); 
}

#particles-js {
    background: #1D1D1D;
}

/* services */

.services {
    background: #1D1D1D;
}

.service-item > p {
    color: #919191;    
}

.service-item > p > a {
    color: #0FB9B1;
}

.service-item > h4 {
    padding-bottom: 10px;
    font-size: 1.3em;
}

.description {
    font-size: 1.4em;
    padding-bottom: 2em;
}

.fa-circle {
    color: #0FB9B1;
}

.fa-stack :nth-child(2) {
    color: white;
}

/* Team */
.team {
    background: #1D1D1D;
}

.name {
    color: white;
    font-size: 1.3em;
    margin-top: 30px;
    font-weight: 700;
}
.team p {
    color: #919191;
}

.img-name {
    max-width: 90px;
}

.team i {
    margin-top: 10px;
    color: #919191;
}

.row-team .col-md-4 {
    margin-top: 20px;
}

/* Map */

.map {
    padding: 0;
}

/* About */
.about {
    background: #0FB9B1;
    color: white;
}

.hackathon {
    font-size: 1.4em;
    padding-top: 12px;
}

.hackathon > a {
    color: #1D1D1D;
}

@media (max-width: 768px) {
    .hackathon {
        margin-top: 20px;
    }
}
@media (min-width: 768px) {
    .fa-trophy {
        text-align: right;
    }
}

/* Footer */

footer {
    padding: 20px 0;
}

.social {
    margin-top: 20px;
}

.social-i {
    color: #0FB9B1;
}