/* global */
section {
    padding: 40px 0 100px;
}

.header {
    font-size: 3em;
    color: #0FB9B1;
    text-transform: uppercase;
    padding: 10px 0 30px;
}

.white {
    color: white;
}

.grey {
    color: #1D1D1D;
}

.green {
    color: #0FB9B1;
}

/* header  */

.logo {
    width: 7em;
    margin-bottom: 30px;
}

@media (max-width: 768px) {
    .logo {
        width: 5em;
    }
}

.header .arrows {
	bottom: 90px;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
}
  
a span {
	position: absolute;
	left: 50%;
	width: 40px;
	height: 40px;
	margin-left: -12px;
	border-left: 1px solid #4b6584;
	border-bottom: 1px solid #4b6584;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-animation: sdb07 2s infinite;
	animation: sdb07 2s infinite;
	opacity: 0;
	box-sizing: border-box;
}

.header a span:nth-of-type(1) {
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
}

.header a span:nth-of-type(2) {
	top: 16px;
	-webkit-animation-delay: .15s;
	animation-delay: .15s;
}

.header a span:nth-of-type(3) {
	top: 32px;
	-webkit-animation-delay: .3s;
	animation-delay: .3s;
}

@-webkit-keyframes sdb07 {
	0% {
	  opacity: 0;
	}
	50% {
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	}
}

@keyframes sdb07 {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.header a span {
	position: absolute;
	top: 0;
	left: 50%;
	width: 40px;
	height: 40px;
	margin-left: -12px;
	border-left: 1px solid #4b6584;
	border-bottom: 1px solid #4b6584;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-animation: sdb07 2s infinite;
	animation: sdb07 2s infinite;
	opacity: 0;
	box-sizing: border-box;
}


/* Who we are */

.we-are p {
    color: #919191;
    font-size: 1.4em;
}

/* portfolio */
.portfolio-item {
    transition: all .2s ease-in-out;
}
.portfolio-item:hover { 
    transform: scale(1.02); 
}

#particles-js {
    background: #1D1D1D;
}

/* partners */

.partners {
    background: #0FB9B1;
}

.partner-box {
    background: white;
    padding: 35px;
    margin-top: 20px;
}

.portfolio p {
    color: #919191;
    font-size: 1.4em;
    margin-bottom: 2.5em;
}

/* services */

.services {
    background: #1D1D1D;
}

.service-item > p {
    color: #919191;    
}

.service-item > p > a {
    color: #0FB9B1;
}

.service-item > h4 {
    padding-bottom: 10px;
    font-size: 1.3em;
}

.description {
    font-size: 1.4em;
    padding-bottom: 2em;
}

.fa-circle {
    color: #0FB9B1;
}

.fa-stack :nth-child(2) {
    color: white;
}

/* Team */
.team {
    background: #1D1D1D;
}

.name {
    color: white;
    font-size: 1.3em;
    margin-top: 30px;
    font-weight: 700;
}

.team p {
    color: #919191;
}

.img-name {
    max-width: 90px;
}

.team i {
    margin-top: 10px;
    color: #919191;
}

.team .position {
    font-size: 0.9em;
    color: white;
    margin-top: -5px;
    font-style: italic;
}

.row-team .col-md-4 {
    margin-top: 20px;
}

/* Map */

.map {
    padding: 0;
}

/* About */
.about {
    background: #0FB9B1;
    color: white;
}

.hackathon {
    font-size: 1.4em;
    padding-top: 12px;
}

.hackathon > a {
    color: #1D1D1D;
}

@media (max-width: 768px) {
    .hackathon {
        margin-top: 20px;
    }
}
@media (min-width: 768px) {
    .fa-trophy {
        text-align: right;
    }
}

/* Footer */

footer {
    padding: 20px 0;
}

.social {
    margin-top: 20px;
}

.social-i {
    color: #0FB9B1;
}