<section id="about" class="about">
  <div class="container">
    <div class="row text-center">
      <div class="col-sm-2 col-xs-12 col-md-1">
        <i class="fas fa-trophy fa-4x"></i>
      </div>
      <div class="col-sm-10 col-xs-12 col-md-11">
        <p class="hackathon">
            Team <strong>zaitra</strong> is a winner of 
            <a href="http://www.czechspaceyear.com/coha/" target="_blank">Copernicus Hackathon Brno</a> and participant of the 
            <strong>Copernicus Accelerator programme</strong>.
        </p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
