<section id="about" class="about">
  <div class="container">
    <div class="row same-height text-center trophy-row">
      <div class="col-sm-12 col-xs-12 col-md-2">
        <i class="fas fa-trophy fa-4x"></i>
      </div>
      <div class="col-sm-12 col-xs-12 col-md-7">
        <p class="hackathon">
            Team <strong>zaitra</strong> is a winner of 
            <a href="http://www.czechspaceyear.com/coha/" target="_blank" class="yellow"><strong>Copernicus Hackathon Brno</strong></a> and participant of the 
            <a href="https://accelerator.copernicus.eu/" target="_blank" class="yellow"><strong>Copernicus Accelerator programme</strong></a>.
        </p>
	  </div>
	  <div class="col-sm-12 col-xs-12 col-md-2">
		  <img src="img/copernicus-accelerator.svg" title="Copernicus accelerator logo" />
	  </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
