<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2 class="header grey">Our Work</h2>
        <div class="row">
          <div class="col-md-12">
            <p>
                We have started just recently, but we have two projects: the first is an app <strong>Ström</strong>, that is detecting deforestation - our main project. But during the build itself, we did find out that there are not the right tools, so we also did make <strong>Sentinel Downloader</strong> - a useful tool that helps us work more efficiently - and you can use it too!
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="https://zaitra.github.io/strom/" target="_blank">
                <img class="img-portfolio img-responsive" src="img/deforest.svg">            
              </a>
            </div>
          </div>        
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="https://github.com/zaitra" target="_blank">
                <img class="img-portfolio img-responsive" src="img/opensource.svg">
              </a>
            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
