<section id="portfolio" class="section-white">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2 class="header">Our Work</h2>
        <div class="row">
          <div class="col-md-12">
            <p class="description">
              We explore opportunities and then continue with viable projects -
              that's the reason, why we have so many projects! <br><br>
              <strong>Ström</strong> is an app detecting deforestation, with future expanse into biomass and forest health analysis.<br>
              <strong>Green Roofs</strong> are roofs covered with vegetation - they help both city and environment.
              But how to find which roofs are the best for conversion into the green ones?
              Well, we created an app for that!<br>
              <strong>Sentinel Downloader</strong> is a useful tool that helps you with bulk downloads from Sentinel Hub - if you work with Earth Observation data, then you know.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="https://strom.zaitra.io/" target="_blank">
                <img class="" src="img/deforest.svg" title="Ström">            
              </a>
            </div>
		  </div>
		  <div class="col-md-6">
            <div class="portfolio-item">
              <a href="https://greenroofs.zaitra.io" target="_blank">
                <img class="" src="img/green-roofs-prague.svg" title="Green roofs Prague">
              </a>
            </div>
          </div>
		</div>
		<!-- /.row (nested) -->
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="portfolio-item">
				  <a href="https://github.com/zaitra" target="_blank">
					<img class="" src="img/opensource.svg" title="Our open source projects">
				  </a>
				</div>
			</div>
		</div>
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
