<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2 class="header grey">Our Work</h2>
        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="https://github.com/zaitra" target="_blank">
                <img class="img-portfolio img-responsive" src="img/earth.jpg">
                <div class="img-protfolio-text-centered ">
                  <h3>OPEN SOURCE PROJECTS</h3>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="https://zaitra.github.io/strom/" target="_blank">
                <img class="img-portfolio img-responsive" src="img/defor.jpg">
                <div class="img-protfolio-text-centered ">
                  <h3>DEFORESTATION DETECTION</h3>
                </div>
              </a>
            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
