
<section id="team" class="section-grey">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="header text-center">OUR TEAM</h2>
			</div>
		</div>
		<div class="row row-team">
			<div class="col-md-3 col-sm-6 text-center">
				<img src="img/marek.png" class="img-circle" title="Marek"/>
				<h4 class="name">Marek Marušin</h4>
				<p class="subtitle">TechLead & Co-Founder</p>
				<p>A former freelancer with years of software development experience. Enthusiastic about blockchain projects, open-source development and space industry.</p>
				<a href="https://www.linkedin.com/in/marek-marusin" target="_blank"><i class="fab fa-linkedin fa-fw fa-3x social-i icon"></i></a>
				<a href="https://github.com/marusinm" target="_blank"><i class="fab fa-github fa-fw fa-3x social-i icon"></i></a>
			</div>
			<div class="col-md-3 col-sm-6 text-center">                    
				<img src="img/rado.png" class="img-circle" title="Rado"/>
				<h4 class="name">Rado Pitoňák</h4>
				<p class="subtitle">Backend developer & Co-Founder</p>
				<p>Experienced Python developer focused on machine learning, deep learning and earth observation . Open-source contributor and mentor for open-source programs.</p>
				<a href="https://www.linkedin.com/in/rpitonak" target="_blank"><i class="fab fa-linkedin fa-fw fa-3x social-i icon"></i></a>
				<a href="https://github.com/rpitonak" target="_blank"><i class="fab fa-github fa-fw fa-3x social-i icon"></i></a>
			</div>
			<div class="col-md-3 col-sm-6 text-center">
				<img  src="img/martin.jpg" class="img-circle" title="Martin"/>
				<h4 class="name">Martin Javorka</h4>
				<p class="subtitle">Backend developer & Co-Founder</p>
				<p>Experienced in web backend, fluent in Python and exploring Earth Observation. Martin is familiar with deploying and maintaining production applications in Rancher/K8S cluster.</p>
				<a href="https://www.linkedin.com/in/martin-javorka-4a60b5a7" target="_blank"><i class="fab fa-linkedin fa-fw fa-3x social-i icon"></i></a>
				<a href="https://github.com/mjavorka" target="_blank"><i class="fab fa-github fa-fw fa-3x social-i icon"></i></a>
			</div>
			<div class="col-md-3 col-sm-6 text-center">
				<img  src="img/vasek.jpg" class="img-circle" title="Vasek"/>
				<h4 class="name">Václav Havlíček</h4>
				<p class="subtitle">Business Development and Marketing</p>
				<p>Business-focused engineer with wide background and skills, involved in the space industry, innovation, and technology community management.</p>
				<a href="https://www.linkedin.com/in/vaclav-havlicek" target="_blank"><i class="fab fa-linkedin fa-fw fa-3x social-i icon"></i></a>
			</div>
		</div>
		<!-- /.row -->
		<div class="row row-team mt-3">
			<div class="col-md-3 col-sm-6 text-center">
				<img src="img/majko.jpg" class="img-name img-circle" title="Marian"/>
				<h4 class="name">Marian Mrva</h4>
				<p class="subtitle">Frontend and UI</p>
				<p>Skilled JavaScript developer and front-end expert interested in the UX and UI prototypes and design. Proud open-source software contributor.</p>
				<a href="https://www.linkedin.com/in/marianmrva" target="_blank"><i class="fab fa-linkedin fa-fw fa-3x social-i icon"></i></a>
				<a href="https://github.com/surfer19" target="_blank"><i class="fab fa-github fa-fw fa-3x social-i icon"></i></a>
			</div>
			<div class="col-md-3 col-sm-6 text-center">                    
				<img src="img/mato.jpg" class="img-name img-circle" title="Matej"/>
				<h4 class="name">Matej Mrázik</h4>
				<p class="subtitle">Development and testing</p>
				<p>Certified ISTQB tester, focused on automatic testing and IoT while being a developer in Java and Python. Matej is also interested in big data and Azure cloud solutions.</p>
				<a href="https://www.linkedin.com/in/matej-mr%C3%A1zik-46905913b/" target="_blank"><i class="fab fa-linkedin fa-fw fa-3x social-i icon"></i></a>
				<a href="https://github.com/matejmrazik" target="_blank"><i class="fab fa-github fa-fw fa-3x social-i icon"></i></a>
			</div>
			<div class="col-md-3 col-sm-6 text-center">
				<img  src="img/shegy.jpg" class="img-name img-circle" title="Martin"/>
				<h4 class="name">Martin Šagát</h4>
				<p class="subtitle">Biomedical solutions</p>
				<p>Biomedical and bioinformatics engineer with wide technical knowledge including Matlab, Python, image processing, electronics, and biomedical devices. Martin is focused on using AI in medicine and biological sciences.</p>
				<a href="https://www.linkedin.com/in/martin-%C5%A1ag%C3%A1t-1b2182189" target="_blank"><i class="fab fa-linkedin fa-fw fa-3x social-i icon"></i></a>
				<a href="https://github.com/Shegy12" target="_blank"><i class="fab fa-github fa-fw fa-3x social-i icon"></i></a>
			</div>
			<div class="col-md-3 col-sm-6 text-center">
				<img  src="img/question-mark.jpg" class="img-name img-circle" title="You?"/>
				<h4 class="name">You?</h4>
				<p class="subtitle">We are always looking for talented people!</p>
			</div>
		</div>
		<!-- /.row -->
    </div>
    <!-- /.container -->
</section>
      
