<section id="team" class="team">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
              <h2 class="header green">OUR TEAM</h2>
              <div class="row row-team">
                <div class="col-md-4">
                    <img src="img/marek.png" class="img-name" title="Marek"/>
                    <h4 class="name">Marek Marušin</h4>
                    <p class="position">TechLead & Co-Founder</p>
                    <p>A former freelancer with years of software development experience. Enthusiastic about blockchain projects, open-source development and space industry.</p>
                    <a href="https://www.linkedin.com/in/marek-marusin" target="_blank"><i class="fab fa-linkedin fa-fw fa-3x social-i"></i></a>
                </div>
                <div class="col-md-4">                    
                    <img src="img/rado.png" class="img-name" title="Rado"/>
                    <h4 class="name">Rado Pitoňák</h4>
                    <p class="position">Backend developer & Co-Founder</p>
                    <p>Experienced Python developer focused on machine learning, deep learning and earth observation . Open-source contributor and mentor for open-source programs.</p>
                    <a href="https://www.linkedin.com/in/rpitonak" target="_blank"><i class="fab fa-linkedin fa-fw fa-3x social-i"></i></a>
                </div>
                <div class="col-md-4">
                    <img  src="img/martin.png" class="img-name" title="Martin"/>
                    <h4 class="name">Martin Javorka</h4>
                    <p class="position">Backend developer & Co-Founder</p>
                    <p>Works as Python developer. In addition to his work, he is also a student at Brno University of Technology. Martin is a newcomer in the field of Earth observation.</p>
                    <a href="https://www.linkedin.com/in/martin-javorka-4a60b5a7" target="_blank"><i class="fab fa-linkedin fa-fw fa-3x social-i"></i></a>
                </div>
              </div>
              <!-- /.row (nested) -->
            </div>
            <!-- /.col-lg-10 -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container -->
      </section>
      