<section id="team" class="team">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
              <h2 class="header green">OUR TEAM</h2>
              <div class="row row-team">
                <div class="col-md-4">
                    <img src="img/marek.png" class="img-name" title="Marek"/>
                    <h4 class="name">Marek Marušin</h4>
                    <p class="position">CEO & Co-Founder</p>
                    <p>lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                    <a href="https://www.linkedin.com/company/28969889" target="_blank"><i class="fab fa-linkedin fa-fw fa-3x social-i"></i></a>
                </div>
                <div class="col-md-4">                    
                    <img src="img/rado.png" class="img-name" title="Rado"/>
                    <h4 class="name">Rado Pitoňák</h4>
                    <p class="position">Backend developer & Co-Founder</p>
                    <p>lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing eiusmod elit. Lorem ipsum dolor sit amet, consectetur.</p>
                    <a href="https://www.linkedin.com/company/28969889" target="_blank"><i class="fab fa-linkedin fa-fw fa-3x social-i"></i></a>
                </div>
                <div class="col-md-4">
                    <img  src="img/martin.png" class="img-name" title="Martin"/>
                    <h4 class="name">Martin Javorka</h4>
                    <p class="position">Backend developer & Co-Founder</p>
                    <p>lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. Elit, sed do eiusmod tempor eiusmod. Consectetur adipiscing elit, sed do eiusmod</p>
                    <a href="https://www.linkedin.com/company/28969889" target="_blank"><i class="fab fa-linkedin fa-fw fa-3x social-i"></i></a>
                </div>
              </div>
              <!-- /.row (nested) -->
            </div>
            <!-- /.col-lg-10 -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container -->
      </section>
      