<section id="we-are" class="we-are">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2 class="header grey">Who we are</h2>
                <div class="row">
                    <div class="col-md-12">
                        <p>Three guys, that do know each other since forever. No, like really, we did high school together, then university. Now, our dreams come true and we have a startup. We did multiple hackathon and project together, so we can promise you a tight and smoothly working team, good knowledge of our capabilities and fast prototyping skills.</p>
                    </div>
                </div>        
            </div>
        </div>
    </div><!-- /.container -->
</section>
      